 {% assign itemURL = section.publications.url | default: 'medium' %}

<section class="publications-list">
    {{include.section.publications}}
  <!-- <h2>{{ include.section.title }}</h2>
  <div>{{ include.section.subtitle }}</div> -->
  <div class="actions grdGrid -middle -center">
   
    {%- for publication in include.section.publications -%}
       <p class="hindent publication">
           {% if include.section.publications.url %}hi{% endif %}
           {% if publication.url == null %}hii{% endif %}

  <span
    >&ldquo;<a href="{{itemURL}}">{{publication.title}}.</a
    >&quot; <em>{{publication.pubTitle}}</em> ({{publication.date}}). {{publication.format}}.</span
  >
</p>
    {%- endfor -%}
  </div>
</section>