---
layout: body
---

<article class="page py-5 py-sm-6">
  <div class="container container--medium">
    <header class="page__header">
      <h1 class="page__title">{{ page.title }}</h1>
      <img src="{{page.header_image}}" alt="{{page.header_image_alt}}" />
    </header>
    <div class="page__body text-block mt-4">
      {% for section in page.sections %} {% assign component = section.type |
      append: ".html" %} {% include {{ component }} section=section site=site %}
      {% endfor %}
    </div>
  </div>
</article>
